<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Loan</title>
</head>

<body>

<h1>Loan application</h1>
<form method = 'post' enctype="multipart/form-data">
    {{ error_message }}
    {% csrf_token %}
    {{uf.as_p}}
    <input type="submit" value = "Apply for a loan" />
</form>

<h2> Loan history</h2>
<table>
    <thead>
    <tr>
        <th>loan application number,</th>
        <th>amount,</th>
        <th>state,</th>
        <th>operator name,</th>
        <th>due date</th>
    </tr>
    </thead>
    <tbody>
    {% for loan in loan_hist %}
    <tr>
        <td>{{loan.loan_application_number}},</td>
        <td>{{loan.amount}},</td>
        <td>{{loan.state}},</td>
        <td>{{loan.operator_name}},</td>
        <td>{{loan.due_date}}</td>
    </tr>>
    {% endfor %}
    </tbody>
</table>

<br>

<a href="http://localhost:8000/account/">Return to account panel</a>

</body>
</html>