<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>account</title>
</head>
<body>
<h1>welcome {{username}}!</h1>
<br>
<a href="http://localhost:8000/process_account_application/">
    <button>Process account Application</button>
</a>
<a href="http://localhost:8000/process_loan_application/">
    <button>Process loan Application</button>
</a>
<a href="http://localhost:8000/process_wire_transfer_application/">
    <button>Process wire transfer</button>
</a>


<a href="http://localhost:8000/evaluated_credit/">
    <button>Re-evaluated the user's credit</button>
</a>
<a href="http://localhost:8000/operatorLogin/">
    <button>logout</button>
</a>


</body>
</html>