<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loan application List</title>
</head>
<body>
<h1>Loan Application record to be processed</h1>

<table width="48%" border="0" align="left" cellpadding="0" cellspacing="0" >
  <tr>
    <td><table>

        <th>loan application number,       </th>
        <th>amount,       </th>
        <th>state,          </th>
        <th>account number,       </th>
        <th>due date,      </th>

    <tbody>
    {% for lo in loan_list %}
    <tr>
        <td>{{lo.loan_application_number}}</td>
        <td>{{lo.amount}}</td>
        <td>{{lo.state}}</td>
        <td>
            {{lo.account_number}}
        </td>
        <td>{{lo.due_date}}</td>

    </tr>>
    {% endfor %}
    </tbody>
</table></td>
  </tr>
</table>
<table width="48%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td><table>


            <th>rate,   </th>

        <tbody>
        {% for ra in rate %}
        <tr>
            <td>{{ra}}</td>>
        </tr>
        {% endfor %}
        </tbody>
</table></td>
  </tr>
</table>

<form method = 'post' enctype="multipart/form-data">
    {{ error_message }}
    {% csrf_token %}
    {{uf.as_p}}
    <input type="submit" value = "Update" />
</form>
<a href="http://localhost:8000/operatorAccount/">
    <button>Return to homepage</button>
</a>

</body>
</html>

