<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Wire Transfer</title>
</head>

<body>

<h1>Wire Transfer</h1>
<form method = 'post' enctype="multipart/form-data">
    {{ error_message }}
    {% csrf_token %}
    {{uf.as_p}}
    <input type="submit" value = "Apply for a wire transfer" />
</form>

<br>

<h2>Wire Transfer History</h2>
<table>
    <thead>
    <tr>
        <th>Wire Transfer number,</th>
        <th>date,</th>
        <th>currency_type, </th>
        <th>amount in USD, </th>
        <th>state, </th>
        <th>operator name, </th>
        <th>payee's name, </th>
        <th>payee's bank, </th>
        <th>payee's account number, </th>
        <th>payee's swift code, </th>
    </tr>
    </thead>
    <tbody>
    {% for wt in wt_hist %}
    <tr>
        <td>{{wt.wt_transaction_no}}, </td>
        <td>{{wt.date}}, </td>
        <td>{{wt.currency_type}}, </td>
        <td>{{wt.amount}}, </td>
        <td>{{wt.state}}, </td>
        <td>{{wt.operator_name}}, </td>
        <td>{{wt.payee_name}}, </td>
        <td>{{wt.payee_bank_name}}, </td>
        <td>{{wt.payee_account_no}}, </td>
        <td>{{wt.payee_swift_code}}</td>
    </tr>>
    {% endfor %}
    </tbody>
</table>
<a href="http://localhost:8000/account/">Return to account panel</a>
</body>
</html>